*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background: url('img/funky-lines.png');
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Gugi', cursive;
}

h1 {
	text-align: center;
	margin: 4rem 0;
}

.accordion {
	width: 800px;
	margin: 3rem auto;
}

.accordion__header {
	background: black;
	color: #fff;
	padding: 1rem;
	margin: 0;
	border-bottom: 2px solid #fff;
	cursor: pointer;
}

.accordion__header::before {
	content: '\21D2';
	margin-right: 1rem;
	display: inline-block;
}

.accordion__content {
	padding: 2rem;
	background: #dedede;
}

.hide {
	display: none;
}
